@import "reset.css";
@import "../fonts/Sansation_Regular.css";
@import "../fonts/Sansation_Bold.css";
@import "../fonts/MyriadPro-Regular.css";
@import "../fonts/NEOTERIC Bold.css";

/*HEADER*/

.header {
    background: url("../img/header-bg.png") no-repeat;
    background-size: 100%;
    height: 552px;
    font-family: "Sansation Regular", sans-serif;
}

.header__header {
    display: flex;
    flex-direction: row;
    height: 60px;
    border-bottom: 1px solid #6e658a;
}

.header__logo {
    display: flex;
    flex-direction: row;
    margin: auto 50px;
    font-size: 25px;
    text-transform: uppercase;
}

.header__logo-main {
    color: #fff;
}

.header__logo-sub {
    color: #da2346;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    font-size: 18px;
}

.header__navigation-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

.header__navigation-item:hover {
    color: #097e89;
}

.header__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto auto;
    width: 12%;
}

.header__sociable-logo {
    margin: 0 auto;
    height: 15px;
    width: 15px;
    padding: 8px;
    border: 1px solid #655a85;
    border-radius: 50%;
}

/*HEADER-SLIDERS*/

.header__sliders-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.header__sliders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 200px 0;
}

.header__arrow {
    width: 30px;
    height: 35px;
    border: 2px solid #615687;
    border-radius: 2px;
}

.header__arrow:hover {
    cursor: pointer;
}

.header__arrow > span {
    display: inline-block;
    border: solid #726995;
    border-width: 0 1px 1px 0;
    padding: 8px;
}

.header__arrow-left {
    margin: 9px 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.header__arrow-right {
    margin: 9px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.header__sliders-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -80px;
    width: 538px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid transparent;
}

.header__sliders-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Sansation Bold", sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 18px;
}

.header__sliders-main,
.header__sliders-sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 9px;
    color: #babbbc;
    margin: 9px 0 0;
}

.header__sliders-content--border-bottom {
    position: relative;
    margin: 0 auto;
    margin-top: -218px;
}


.header__sliders-content--border-bottom-left {
    position: absolute;
    top: 16px;
    left: -215px;
    width: 180px;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__sliders-btn {
    position: relative;
    margin: 1px auto;
    height: 35px;
    width: 110px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 1px;
    font-family: "Sansation Regular", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 17px;
}

.header__sliders-btn:hover {
    cursor: pointer;
}

.header__sliders-content--border-bottom-right {
    position: absolute;
    top: 16px;
    left: 145px;
    width: 180px;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*ABOUT-US*/

.about-us {
    display: flex;
    flex-direction: row;
}

.about-us__photo {
    width: 50%;
}

.about-us__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.about-us__content-wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

.about-us__title {
    margin-bottom: 10px;
    font-family: "Sansation Regular", sans-serif;
    font-size: 32px;
    color: #252525;
    text-transform: uppercase;
}

.about-us__separator {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.about-us__separator--main {
    width: 63px;
    height: 2px;
    background: #6e6e6e;
    background: -moz-linear-gradient(top, #6e6e6e 0%, #6e6e6e 50%, #343434 50%, #343434 100%);
    background: -webkit-linear-gradient(top, #6e6e6e 0%, #6e6e6e 50%, #343434 50%, #343434 100%);
    background: -o-linear-gradient(top, #6e6e6e 0%, #6e6e6e 50%, #343434 50%, #343434 100%);
    background: -ms-linear-gradient(top, #6e6e6e 0%, #6e6e6e 50%, #343434 50%, #343434 100%);
    background: linear-gradient(to bottom, #6e6e6e 0%, #6e6e6e 50%, #343434 50%, #343434 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6e', endColorstr='#343434', GradientType=0 );
    z-index: 2;
}

.about-us__separator--sub {
    width: 97%;
    height: 2px;
    margin-top: -1px;
    background: #424242;
    background: -moz-linear-gradient(top, #424242 0%, #424242 50%, #d3d3d3 50%, #d3d3d3 100%);
    background: -webkit-linear-gradient(top, #424242 0%, #424242 50%, #d3d3d3 50%, #d3d3d3 100%);
    background: -o-linear-gradient(top, #424242 0%, #424242 50%, #d3d3d3 50%, #d3d3d3 100%);
    background: -ms-linear-gradient(top, #424242 0%, #424242 50%, #d3d3d3 50%, #d3d3d3 100%);
    background: linear-gradient(to bottom, #424242 0%, #424242 50%, #d3d3d3 50%, #d3d3d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#d3d3d3', GradientType=0 );
    z-index: 1;
}

.about-us__main,
.about-us__sub {
    margin: 10px 0;
    white-space: pre-line;
    font-family: "MyriadPro Regular", sans-serif;
    font-size: 15px;
    color: #000000;
    line-height: 18px;
}

.about-us__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 161px;
    height: 30px;
    margin: 30px 0;
    background: #05a0af;
    border: none;
    border-radius: 2px;
    font-family: "NEOTERIC Bold", sans-serif;
    font-size: 15px;
    color: #f7f7f7;
}
.about-us__btn:hover {
    cursor: pointer;
}

/*OUR-SERVICES*/

.our-services {
    display: flex;
    flex-direction: column;
}

/*OUR-SERVICES-HEADER*/

.our-services__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 138px;
    background: #373737;
}

.our-services__separator-left {
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
}

.our-services__separator--main {
    height: 3px;
    width: 72px;
    background: #ffffff;
}

.our-services__separator--sub {
    margin-top: 1px;
    width: 305px;
    height: 1px;
    background: #f2f2f2;
}

.our-services__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
    font-family: "Sansation Regular", sans-serif;
    font-size: 30px;
    color: #f7f7f7;
    text-transform: uppercase;
}

.our-services__separator-right {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

/*OUR-SERVICES-CONTENT*/

.our-services__content {
    display: flex;
    flex-direction: row;
}

.our-services__content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.33%;
    height: 554px;
    background: #3d3d3d;
}

.our-services__content-item:hover {
    background: #097e89;
    cursor: pointer;
}

.our-services__content-item--wrapper {
    display: flex;
    flex-direction: column;
}

.our-services__content-item--logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 125px;
    margin: 0 auto 50px;
}

.our-services__content-item--title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Sansation Bold", sans-serif;
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 22px;
}

.our-services__content-item--subtitle {
    width: 90%;
    margin: 15px auto;
    white-space: pre-line;
    text-align: center;
    font-family: "Sansation Regular", sans-serif;
    font-size: 14px;
    color: #f7f7f7;
    line-height: 18px;
}

.our-services__content-item--btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 142px;
    height: 30px;
    margin: 15px auto;
    background: #959595;
    border: none;
    border-radius: 2px;
    font-family: "NEOTERIC Bold", sans-serif;
    font-size: 17px;
    color: #eaeaea;
}

.our-services__content-item--btn:hover {
    cursor: pointer;
}